html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

header {
    /* background: url("../img/design1_image1.jpg") no-repeat top;
    background-size: cover;
    height: 45vh; */
    background-color: red;
}

header img {
    /* display: none; */
}

nav {
    display: flex;
    background-color: blue;
    /* flex-grow: 1; */
}

main {
    display: flex;
    background-color: yellow;
}